In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Xining,CN,2021-12-14 20:49:10,36.6167,101.7667,22.33,46,87,2.30
1,1,Nouadhibou,MR,2021-12-14 20:51:08,20.9310,-17.0347,66.18,77,0,14.97
2,2,Tiarei,PF,2021-12-14 20:51:08,-17.5333,-149.3333,84.22,76,14,10.18
3,3,Coquimbo,CL,2021-12-14 20:46:18,-29.9533,-71.3436,67.73,55,0,13.80
4,4,Lebu,CL,2021-12-14 20:48:10,-37.6167,-73.6500,59.56,67,0,14.05

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Tiarei,PF,2021-12-14 20:51:08,-17.5333,-149.3333,84.22,76,14,10.18
5,5,Lethem,GY,2021-12-14 20:51:09,3.3803,-59.7968,85.10,66,100,11.10
6,6,Sinnamary,GF,2021-12-14 20:51:09,5.3833,-52.9500,78.53,87,100,8.10
10,10,Atuona,PF,2021-12-14 20:51:10,-9.8000,-139.0333,78.96,73,8,16.51
11,11,Kapaa,US,2021-12-14 20:51:11,22.0752,-159.3190,79.12,83,20,4.00
13,13,Porto Velho,BR,2021-12-14 20:51:11,-8.7619,-63.9039,80.65,78,40,2.30
16,16,Monrovia,LR,2021-12-14 20:51:12,6.3005,-10.7969,80.37,79,49,9.10
18,18,Rikitea,PF,2021-12-14 20:51:13,-23.1203,-134.9692,77.81,75,3,5.53
20,20,Saint-Joseph,RE,2021-12-14 20:51:14,-21.3667,55.6167,75.58,77,19,13.53
22,22,Mongoumba,CF,2021-12-14 20:51:14,3.6415,18.5936,80.92,54,99,1.14

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Tiarei      PF     84.22 -17.5333 -149.3333
5         Lethem      GY     85.10   3.3803  -59.7968
6      Sinnamary      GF     78.53   5.3833  -52.9500
10        Atuona      PF     78.96  -9.8000 -139.0333
11         Kapaa      US     79.12  22.0752 -159.3190
13   Porto Velho      BR     80.65  -8.7619  -63.9039
16      Monrovia      LR     80.37   6.3005  -10.7969
18       Rikitea      PF     77.81 -23.1203 -134.9692
20  Saint-Joseph      RE     75.58 -21.3667   55.6167
22     Mongoumba      CF     80.92   3.6415   18.5936

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Tiarei,PF,84.22,-17.5333,-149.3333,Le Rocher de Tahiti
5,Lethem,GY,85.10,3.3803,-59.7968,Savannah Inn
6,Sinnamary,GF,78.53,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
10,Atuona,PF,78.96,-9.8000,-139.0333,Villa Enata
11,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
13,Porto Velho,BR,80.65,-8.7619,-63.9039,Hotel Central
16,Monrovia,LR,80.37,6.3005,-10.7969,Sunset Inn
18,Rikitea,PF,77.81,-23.1203,-134.9692,People ThankYou
20,Saint-Joseph,RE,75.58,-21.3667,55.6167,"""Plantation Bed and Breakfast"
22,Mongoumba,CF,80.92,3.6415,18.5936,

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))